#!/bin/bash

#script to start gunicorn in virtualenv
source /opt/venvs/$projectname/env/bin/activate


cd /opt/venvs/$projectname/$projectname


exec gunicorn --user webapp --bind 0.0.0.0:443 --workers 3 --log-level=info --log-file=/opt/venvs/$projectname/logs/gunicorn.log --certfile=/etc/letsencrypt/live/$projectname/cert.pem --keyfile=/etc/letsencrypt/live/$projectname/privkey.pem --ca-certs=/etc/letsencrypt/live/$projectname/chain.pem $projectname.wsgi
