[Unit]
Description= $projectname gunicorn daemon
After=network.target

[Service]
User=webapp
WorkingDirectory=/opt/venvs/$projectname/$projectname
ExecStart=/opt/venvs/$projectname/bin/gunicorn --bind 0.0.0.0:8000 --workers 3 --log-level=info --log-file=/opt/venvs/$projectname/logs/gunicorn.log $projectname.wsgi

[Install]
WantedBy=multi-user.target
