#!/bin/bash

cd /opt/venvs/$projectname

# Move application to top level project directory
if [ -d "$projectname" ]
then
    cp -r lib/python3.6/site-packages/$projectname/** $projectname/
    rm -rf lib/python3.6/site-packages/$projectname
else
    mv lib/python3.6/site-packages/$projectname .
fi

# Move python3.*/site-packages to python3/dist-packages for making packages global for every python version
mv lib/python3.* lib/python3
mv lib/python3/site-packages lib/python3/dist-packages

# manage.py must be executable
chmod +x $projectname/manage.py


#move start_gunicorn to env/bin directory and make execuatble
mv $projectname/start_gunicorn bin/
chmod +x bin/start_gunicorn

#Cleanup
rm $projectname/__init__.py
rm -rf $projectname/__pycache__/


# Create logs directory
if [ ! -d "$projectname/logs" ]
then
    mkdir /opt/venvs/$projectname/logs

fi


# Create user webapp and change project permissions to webapp user
adduser --disabled-password --gecos "" webapp
chown -R webapp:webapp /opt/venvs/$projectname


#Check if systemd service for $projectname is running
if systemctl is-active -q $projectname
then
    echo "$projectname is running...stopping"
    systemctl stop $projectname
fi


echo "Starting services for $projectname"
systemctl start $projectname


exit 0
