[Unit]
Description= $projectname gunicorn daemon
After=network.target

[Service]
User=root
WorkingDirectory=/opt/venvs/$projectname/$projectname
ExecStart=/opt/venvs/$projectname/bin/start_gunicorn

[Install]
WantedBy=multi-user.target
