#!/bin/bash

cd /opt/venvs/$projectname

# Move application to top level project directory
if [ -d "$projectname" ]
then
    cp -r lib/python3.*/site-packages/$projectname/** $projectname/
    rm -rf lib/python3.*/site-packages/$projectname
else
    mv lib/python3.*/site-packages/$projectname .
fi


# manage.py must be executable
chmod +x $projectname/manage.py

#remove duplicates
rm $projectname/settings.py
rm $projectname/urls.py
rm $projectname/wsgi.py

#move start_gunicorn to env/bin directory and make execuatble
mv $projectname/start_gunicorn bin/
chmod +x bin/start_gunicorn

#Cleanup
rm $projectname/__init__.py
rm -rf $projectname/__pycache__/


# Create logs directory
if [ ! -d "logs" ]
then
    mkdir logs

fi


# Create user webapp and change project permissions to webapp user
if id webapp >/dev/null 2>&1; then
        echo "webapp already user exists"
else
        adduser --disabled-password --gecos "" webapp
fi
chown -R webapp:webapp /opt/venvs/$projectname


#Check if systemd service for $projectname is running
if systemctl is-active -q $projectname
then
    echo "$projectname is running...stopping"
    systemctl stop $projectname
fi


echo "Starting services for $projectname"
systemctl start $projectname


exit 0
